/* Presentational style rules only
 * Not required
 */

html, body, .container {
  height: 100%;
}

/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
}

/* Basic */
body { 
  font-family: sans-serif;
  color: #ffffff;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  margin-top: 20px;
  font-weight: 800;
}

p{
  line-height: 4;
  color: #fff;
}

.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 340px) {
  
  .container {
    position: relative;
    display: block;
    float: left;
    vertical-align: baseline;
    margin: 0 auto;
    padding: 80px 0 0 0;
  }
  
 
  .content {  
    display: inline;
    margin: 0 auto;
    padding-top: 80px;
    vertical-align: baseline;
  }

  html, body, .container {
    height: auto;
  }
}